modeling/OrbitApi.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="jsonApiRecord">
      <ref name="type"/>
      <ref name="id"/>
      <element name="attributes">
        <element name="projectName">
          <data type="NCName"/>
        </element>
        <element name="projectType">
          <data type="NCName"/>
        </element>
      	<element name="paratextGuid">
      		<data type="NCName"/>
      	</element>
      	<element name="paratextShortName">
      		<data type="NCName"/>
      	</element>
      	<element name="languageBcp47">
      		<data type="NCName"/>
      	</element>
      	<element name="fontFamily">
      		<data type="NCName"/>
      	</element>
      	<element name="fontSize">
      		<data type="NCName"/>
      	</element>
      	<element name="fontFeatures">
      		<data type="NCName"/>
      	</element>
      	<element name="direction">
      		<data type="NCName"/>
      	</element>
      	<element name="allowClaiming">
          <data type="boolean"/>
        </element>
      	<element name="autoSync">
      		<data type="boolean"/>
      	</element>
      </element>
      <element name="relationships">
        <element name="passages">
          <ref name="data"/>
        </element>
        <element name="users">
          <ref name="data"/>
        </element>
      </element>
    </element>
  </start>
  <define name="type">
    <element name="type">
      <data type="NCName"/>
    </element>
  </define>
  <define name="id">
    <element name="id">
      <data type="NCName"/>
    </element>
  </define>
  <define name="data">
    <element name="data">
      <ref name="type"/>
      <ref name="id"/>
    </element>
  </define>
</grammar>
