modeling/sets.rnc

default namespace = ""

start =
	element set {
		attribute type { "set" },
		attribute id { xsd:ID },
		element keys {
			attribute remoteId { xsd:ID }
		}?,
		element attributes {
			(attribute book { xsd:positiveInteger }?
				| attribute index { xsd:decimal }?)*,
			element setTitle { xsd:string }?
		}?,
		element relationships {
			(element tasks {
					element data {
						attribute type { "task" },
						attribute id { xsd:IDREF }
					}*
				}?)*
		}?
	}
